@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans';
    font-weight: bold;
}

.starred-ideas-heading {
    font-weight: lighter;
}

aside {
    height: 100vh;
    width: 25%;
    background-color: #1F1F3D;
    padding-left: 30px;
}

.idea-box-heading {
    color: #E9E9F3;
    border-bottom:#E9E9F3 solid 1px;
    padding:2px;
}
.starred-ideas-button {
    color: #E9E9F3;
}

.starred-ideas-heading {
    color: #BFBFDD;
}

.starred-ideas-button {
    background-color: #5356A4;
}

body {
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.idea-entry {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A9AAD2;
}

.wrapper {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
    width: 40%;
}

input[type=text] {
    height: 30px;
    width: 100%;
  }
  
  input[type=body] {
    height: 60px;
    width: 100%;
  }

  /* .search */
.search-section{
    display:flex;
    align-items: center;
}

.save-button {
    width: 100%;
    background-color: #1F1F3D;
    color: #E9E9F3
}

.search-button {
    background-image: url(/assets/search.svg);
    background-color: #1F1F3D;
    width: 30px;
    height: 30px;
}

.search-bar {
    width: 200%;
}

.idea-card-grid {
    background-color: #EAEAF4;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
     /* width: 100%; */
}

.idea-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F1F3D;
    width: 100%;
    height: 5vh;
}

.card-body {
    background-color: #FFFFFF;
}

.idea-message {
    font-weight: lighter;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #5356A4;
    height: 5vh;
}

.star-button {
    background-color: #1F1F3D;
    width: 40px;
    height: 40px;
    border: none;
}

.delete-button {
    background-color: #1F1F3D;
    width: 40px;
    height: 40px;
    border: none;
}

.comment-button {
    background-color: #5356A4;
    width: 40px;
    height: 40px;
    border: none;
}

.idea-comment {
    color: #E9E9F3;
}

.hidden {
    display: none;
}