@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans';
    font-weight: bold;
}

/* .starred-ideas-heading {
    font-weight: lighter;
    font-family: 'Open Sans';
    color: #BFBFDD;
} */

aside {
    height: 100vh;
    width: 25%;
    background-color: #1F1F3D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding-left: 30px; */
    align-items: flex-start;
}

aside > h1 {
    color: #E9E9F3;
    border-bottom:#353567 solid 5px;
    padding-left:30px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
    width: 90%;
}

.starred-ideas {
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 20px;
    border-bottom:#353567 solid 5px;
}

.starred-ideas-heading {
    /* font-weight: lighter; */
    /* font-family: 'Open Sans, Light'; */
    color: #BFBFDD;
    font-size: medium;
    font-weight: lighter;
    font-family: 'Open Sans';
    /* color: #BFBFDD; */
    font-size: medium;
}
.starred-ideas-button {
    color: #E9E9F3;
    font-family: 'Open Sans, Bold';
    background-color: #5356A4;
    padding: 10px;
    width: 85%;
    font-size: larger;
    border: 0px;
}

/* .starred-ideas-heading {
    color: #BFBFDD;
} */

/* .starred-ideas-button {
    background-color: #5356A4;
} */

body {
    height: 100vh;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .idea-entry {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A9AAD2;
} */
.form-section {
    height: 40vh;
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A9AAD2;
    /* text-align: center; */
}

form {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
    width: 40%;
}
.title-wrapper,
.body-wrapper {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
}

.user-title {
    font-family: "Open Sans";
    font-weight: lighter;
    height: 30px;
    width: 100%;
  }
  
  .user-body {
    font-family: "Open Sans";
    font-weight: lighter;
    height: 60px;
    width: 100%;
  }

  /* .search */
.search-section {
    display:flex;
    align-items: center;
    width: 100%;
}

.save-button {
    width: 100%;
    background-color: #1F1F3D;
    color: #E9E9F3;
    padding: 10px;
    font-size: larger;
}

.search-button {
    background-image: url(/assets/search.svg);
    background-color: #1F1F3D;
    width: 20%;
    height: 50px;
}

.search-button > img {
    height:25px;
}
.search-bar {
    width: 200%;
    height: 45px;
    font-family: 'Open Sans';
    font-weight: lighter;
}

.idea-card-grid {
    background-color: #EAEAF4;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
     /* width: 100%; */
}

.idea-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F1F3D;
    width: 100%;
    height: 5vh;
}

.card-body {
    background-color: #FFFFFF;
    padding-left: 10px;
}

.idea-message {
    font-weight: lighter;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #5356A4;
    height: 5vh;
    width: 100%;
}

.star-button {
    background-color: #1F1F3D;
    width: 40px;
    height: 40px;
    border: none;
}

.delete-button {
    background-color: #1F1F3D;
    width: 40px;
    height: 40px;
    border: none;
}

.comment-button {
    background-color: #5356A4;
    width: 40px;
    height: 40px;
    border: none;
}

.idea-comment {
    color: #E9E9F3;
}

.hidden {
    display: none;
}