@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans';
    font-weight: bold;
}

.starred-ideas-heading {
    font-weight: lighter;
}

.main-container > aside {
   margin: 10px;
}

.side-container {
    height: 100vh;
    background-color: aquamarine;
}

body {
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.idea-entry {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column; */
}

.wrapper {
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.idea-card-grid {
    width: 100%;
    height: 200px;
}

.hidden {
    display: none;
}